 /* 가로 375 세로 875 */
 * {
    font-family: Pretendard;
 }
 
html , body {
    height: 100%; 
    width: 100%; 
    margin: 0;
    background-color: rgba(245, 245, 245);
}

body {
    margin: 33px 0 47px 0;
    text-align: center;
}

#logo {
    margin:0 auto;
    width: 140px;
}
#description {
    width: 280px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    word-wrap: break-word;
    margin: 18.43px auto 22px;
    color: #222222;
}

.container {
    margin: 0 auto;
    height: 480px;
    width: 350px;
    /* background-color: #ffffff; */
}

.row {
    margin-bottom: 23px;
}

.shadow {
    width: 105px;
    margin-right: 8px;
}

.card {
    display: inline-block;
    position: relative;
}

.name {
    width: 100%;
    position: absolute;
    top: 70px;
    left: -3px;
}
.pagination {
    font-size: 17px;
    margin: 10px auto 0px;
    font-weight: 500;
    line-height: 22px;
    word-wrap: break-word;
    text-align: center;
    padding-left: 28px;
}

.pagination a {
   text-decoration: none;
   color: #222222;
}

.pagenum {
    margin-right: 13px;
}

.pagination_icon {
    width: 13px;
    margin: 0 28px 0 13px;
}

.button {
    margin: 25px auto 0px;
    width: 333.2px;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width : 100%; 
    height : 115%;
    background-color: rgba(26, 26, 26 ,0.78);
    z-index: 200;
    display: none;
}

.content {
    width: 291px;
    height: 373px;
    background-color: #ffffff;
    margin:259px auto 0px;
    flex-shrink: 0;
    border-radius: 28px;
}

.content-name {
    padding-top: 42px;
    color: #424242;
    font-size: 16px;
    font-weight: 600;
}

.content-context {
    width: 210px;
    height: 150px;
    text-align: center;
    margin: 33px auto 0px;
}

.date {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    color: #909090;
}

.button2 {
    width: 201px;
}

