 /* 가로 375 세로 875 */
 * {
    font-family: Pretendard;
 }
 
html , body {
    height: 100%; 
    width: 100%; 
    margin: 0;
    background-color: #FAFAFA;
}

body {
    margin: 83px 0 47px 0;
    text-align: center;
}

#logo {
    margin:0 auto;
    width: 140px;
}
#description {
    width: 280px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    word-wrap: break-word;
    margin: 18.43px auto 22px;
    color: #222222;
}

.container {
    margin: 0 auto;
    height: 508px;
    width: 335px;
    border: solid 1px #DCDCDC;
    border-radius: 12px;
    box-shadow: 0px 4px 25px rgba(141.31, 141.31, 141.31, 0.15); border-radius: 12px; border: 1px #DCDCDC solid;
    background-color: #FFFFFF;
}

.row {
    margin:90px auto 0;
    width: 320px;
}
.image {
    width: 83.6px;
    margin-left: 19.8px;
}


.pagination {
    font-size: 1.2em;
    margin-top: 3%;
}

.pagination a {
   text-decoration: none;
   color: #222222;
}

.button {
    width: 200px;
}